div.col-xs-12 {
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 32px;
    margin: 0px 0px 0px 0px;
}

div.col-sm-12 {
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 32px;
    margin: 0px 0px 0px 0px;
}